node_modules/
package-lock.json

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl # Optional: uncomment if you don't want to commit provider lock file
crash.log 